:root{
  --view-border-radius: 1.2rem;
  --card-border-radius: 2rem;
  --icon-border-radius: 3rem;
  --action-border-radius: 1.2rem;
  --header--height: 8rem;

  --font-size: 1.4rem;
  --icon-size: 2rem;

  --max-width: 46rem;
  --actions-max-width: 32rem;
}

*{
  box-sizing: border-box;
}

html{
  height: -webkit-fill-available;
  font-size: .65em;
  font-family: system-ui;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
}

body{
  margin: 0;
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: calc(var(--header--height) / 2);
  font-size: var(--font-size);
}

button{
  font-size: var(--font-size);
}

*::-webkit-scrollbar {
  display: none;
}

[data-view]{
  display: none;
  border-radius: var(--view-border-radius);
}

[data-view-active="receipts"] [data-view="receipts"],
[data-view-active="emails"] [data-view="emails"],
[data-view-active="auth"] [data-view="auth"],
[data-view-active="file"] [data-view="file"]{
  display: block;
}

[data-view-active="file"] body{
  scroll-snap-type: none;
}

[data-view-active="file"] .card{
  padding: 0;
}

[data-view-active="auth"] body{
  scroll-padding-top: calc(var(--header--height));
}

[data-view-active="auth"] .card{
  padding: 0;
}

[data-sheet]{
  position: fixed;
  /* bottom: 0; */
  top: 0;
  width: 100%;
  height: 100vh;
  background: white;
  border-top-left-radius: var(--view-border-radius);
  border-top-right-radius: var(--view-border-radius);
  transition: transform 320ms;
  overflow-y: scroll;
  transform: translateY(100%);
  visibility: hidden;
}

[data-sheet-active="add"] [data-sheet="add"],
[data-sheet-active="auth"] [data-sheet="auth"] {
  transform: translateY(2vh);
  visibility: visible;
}

[data-sheet-active="add"] [data-view],
[data-sheet-active="auth"] [data-view] {
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  transition: transform 320ms;
  transform: translateY(.5vh) scale(.90);
  transform-origin: top center;
  background: white;
  opacity: .9;
  overflow: hidden;
}

[data-sheet-active]{
  background: black;
}

[data-sheet-active] body{
  overflow:hidden;
}

.header{
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: 0;
  width: 90vw;
  max-width: var(--max-width);
  height: var(--header--height);
  margin: 0 auto;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.content{
  min-height: calc(100vh * 4);
  position: relative;
  pointer-events: none;
}

.card{
  scroll-snap-align: start;
  padding-top: calc(var(--header--height) / 2);
  padding-bottom: calc(var(--header--height) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.face{
  background: white;
  border-radius: var(--card-border-radius);
  width: 90vw;
  max-width: var(--max-width);
  pointer-events: all;
  transition: width 320ms, height 320ms, top 320ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top left;
  overflow: hidden;
  top: var(--header--height);
}

.img{
  width: 100%;
}

.face-image{
  aspect-ratio: 3/2;
}

.focus{
  position: fixed;
  width: calc(100vw + 2 * var(--card-border-radius));
  height: calc(100vh + 2 * var(--card-border-radius));
  /* height: 100vh; */
  top: calc(-1 * var(--card-border-radius));
  /* top: 0; */
  overflow: scroll;
  padding: var(--card-border-radius) 0;
  z-index: 1;
}

svg{
  fill: transparent;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon svg, .action svg {
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
  stroke-width: .2rem;
}

.icon{
  background: black;
  color: white;
  border: 0;
  border-radius: var(--icon-border-radius);
  padding: .25rem;
}

.icon svg {
  stroke: white;
}

.action svg {
  stroke: rgb(46, 46, 46);
}

.action {
  color: black;
  background: #efefef;
  border: 0;
  border-radius: var(--action-border-radius);
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.action>svg{
  margin-left: auto;
  stroke: rgb(124, 124, 124);
}

.actions{
  height: 100%;
  width: 90vw;
  max-width: var(--actions-max-width);
  margin: 0 auto;
  padding-top: 5rem;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close{
  background-color: rgb(65, 65, 65);
  position: absolute;
  top: 3rem;
  right: 3rem;
  opacity: 0;
}

.dismiss {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #efefef;
}

.dismiss svg{
  stroke: rgb(124, 124, 124);
}

.focus .close{
  display: block;
  opacity: 1;
  transition: opacity 320ms;
}

.bg{
  padding: .25rem;
  border-radius: .75rem;
  margin-right: 2rem;
}

.bg svg{
  stroke:white;
}

.email .bg{
  background: rgb(76, 128, 252);
}

.camera .bg {
  background: #e63131;
}

.photo .bg {
  background: rgb(0, 192, 64);
}

.authorize .bg{
  background-color: black;
}

[data-visible]{
  display: none;
}

[data-visible="visible"]{
  display: block;
}

.auth-face{
  background: white;
  border-radius: var(--card-border-radius);
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem;
  scroll-snap-align: start;
}

.authorize{
  padding: 1rem 2rem;
  border-radius: var(--action-border-radius);
  border: 0;
  pointer-events: all;
  margin: 3rem 0;
}

.auth{
  margin-right: 1rem;
}

.button{
  border-radius: var(--icon-border-radius);
  background: black;
  color: white;
  padding: .6rem 1.4rem;
  border: 0;
}

.button-alt{
  border-radius: var(--icon-border-radius);
  background: transparent;
  color: black;
  padding: .6rem 1.4rem;
  border: 0;
}

.button-scroll{
  border-radius: var(--icon-border-radius);
  color: grey;
  background: white;
  padding: .6rem 1.4rem;
  border: 0;
}

iframe{
  border: 0;
  width: 100%;
  aspect-ratio: 2/1;
  pointer-events: none;
  margin-bottom: -3px;
}

.focus iframe{
  height: calc(100vh - 15rem);
  pointer-events: all;
}

.heading{
  display: flex;
  align-items: center;
}

.footer{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  background: white;
  padding: 2rem calc(var(--action-border-radius) + 2rem);
  height: 5rem;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  color: grey;
}

.pagination button{
  margin:0 1rem;
}

[data-view-active="receipts"] iframe{
  aspect-ratio: 3/2;
}

[data-view-active="receipts"] .face .footer{
  display: none;
}

[data-view-active="receipts"] .focus .footer {
  display: flex;
}

canvas{
  width: 100%;
}
