:root{
  --spinner-size: 2rem;
}

.ispinner {
  position: relative;
  width: var(--spinner-size);
  height: var(--spinner-size);
  margin-left: 2rem;
}

.ispinner .ispinner-blade {
  position: absolute;
  top: calc(var(--spinner-size)/3);
  left: 50%;
  width: calc(var(--spinner-size)/8);
  height: calc(var(--spinner-size)/3);
  background-color: #8e8e93;
  border-radius: calc(var(--spinner-size)/16);
  animation: iSpinnerBlade 1s linear infinite;
  will-change: opacity;
}

.ispinner .ispinner-blade:nth-child(1) {
  transform: rotate(45deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -1.625s;
}

.ispinner .ispinner-blade:nth-child(2) {
  transform: rotate(90deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -1.5s;
}

.ispinner .ispinner-blade:nth-child(3) {
  transform: rotate(135deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -1.375s;
}

.ispinner .ispinner-blade:nth-child(4) {
  transform: rotate(180deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -1.25s;
}

.ispinner .ispinner-blade:nth-child(5) {
  transform: rotate(225deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -1.125s;
}

.ispinner .ispinner-blade:nth-child(6) {
  transform: rotate(270deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -1s;
}

.ispinner .ispinner-blade:nth-child(7) {
  transform: rotate(315deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -0.875s;
}

.ispinner .ispinner-blade:nth-child(8) {
  transform: rotate(360deg) translateY(calc(-1* var(--spinner-size)/3));
  animation-delay: -0.75s;
}

@keyframes iSpinnerBlade {
  0% {
    opacity: 0.85;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.25;
  }
}
